div {
    &.overflow_description {
        overflow: hidden;
    }

    &.color_blue_text_post {
        color: #589BB3 !important;
        font-weight: bolder;
    }

    span {
        &.color_green_bolder {
            color: #008001;
            font-weight: bolder;
        }

        &.color_bold_black {
            color: #000000;
            font-weight: bolder;
        }

        &.color_red_bolder {
            color: #FF0000;
            font-weight: bolder;
        }

        &.just_bolder {
            font-weight: bolder;
        }
    }
}