<div>&nbsp;</div>

<app-breadcrumbs [title]="title" [breads]="breads">
</app-breadcrumbs>

<div class="three column row">
    <div class="one wide column">&nbsp;</div>

    <div class="fourteen wide column">

        <div>
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info circle icon"></i>
                    Sign In!
                </div>
                <p>
                    Login and start to publish your projects!
                </p>
            </sui-message>
        </div>
        <div>&nbsp;</div>

        <div class="" *ngIf="isMessageDisplayed('error')">
            <sui-message class="negative" [isDismissable]="false">
                <div class="header">
                    Please verify the fields
                </div>
                <p>
                    Please check the fields highligthed in red.
                </p>
            </sui-message>
        </div>

        <div class="" *ngIf="statusCode == 405 && statusResp == 'ERROR'">
            <sui-message class="negative" [isDismissable]="false">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error in Login!
                </div>
                <p>
                    {{ statusMessage }}
                </p>
            </sui-message>
        </div>
        <div>&nbsp;</div>

        <form [formGroup]="formLogin" (submit)="login()" class="ui large form">
            <div class="ui stacked segment">
                <div class="field required" [ngClass]="{ 'error' : submittedForm && f.user.errors?.required }">
                    <label for="username">Username</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="Username" value="{{ user }}" name="user" formControlName="user" (keyup)="onUpperFunction($event)">
                    </div>
                    <div class="errors">
                        <span *ngIf="f.user.errors?.required && submittedForm">
                            User is required.
                        </span>
                    </div>
                </div>

                <div class="field required" [ngClass]="{ 'error' : f.pwd.errors?.required && submittedForm }">
                    <label for="password">Password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" placeholder="Password" name="pwd" formControlName="pwd">
                    </div>
                    <div class="errors">
                        <span *ngIf="f.pwd.errors?.required && submittedForm">
                            Password is required.
                        </span>
                    </div>
                </div>

                <button class="ui large teal submit button" type="submit">
                    <i class="key icon"></i>
                    Login
                </button>
                <button class="ui large negative button" type="button" (click)="clearLoginFields()">
                    <i class="eraser icon"></i>
                    Clear
                </button>
            </div>
        </form>

        <div class="messages">
            <sui-message class="warning space_top" [isDismissable]="false">
                <p>
                    Forgot your password?<br />
                    If you forgot your password, please <a [routerLink]="['/auth/reset-password']" class="general_blue"> CLICK HERE. </a>
                </p>
            </sui-message>
        </div>

    </div>

    <div class="one wide column">&nbsp;</div>
</div>
