<div class="ui fluid stackable steps">
    <div class="step {{ step.completed }}" *ngFor="let step of steps">
        <i class="{{ step.icons }} icon"></i>
        <div class="content">
            <div class="title"> {{ step.title }} </div>
            <div class="description">
                {{ step.description }}
            </div>
        </div>
    </div>
</div>