<app-breadcrumbs [title]="title" [breads]="breads">
</app-breadcrumbs>

<div class="three column row">
    <div class="one wide column">&nbsp;</div>

    <div class="fourteen wide column">
        <div class="">
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="exclamation circle icon"></i>
                    Create New Account
                </div>
                <p>
                    Please select the type of account would you like to create
                </p>
            </sui-message>
        </div>

        <div>&nbsp;</div>
        <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>

        <div class="ui top attached tabular menu">
            <a class="item" data-tab="contractor" (click)="activateContractorTab()">
                Contractor
            </a>
            <a class="item" data-tab="home_owner" (click)="activateHomeOwnerTab()">
                Home Owner
            </a>
        </div>

        <div class="ui bottom attached tab segment" data-tab="contractor">
            <div class="" *ngIf="isMessageDisplayed('errorC')">
                <sui-message class="negative" [isDismissable]="false">
                    <div class="header">
                        <i class="times circle icon"></i>
                        Please verify the fields
                    </div>
                    <p>
                        Please check the fields highligthed in red.
                    </p>
                </sui-message>
            </div>

            <div class="" *ngIf="errorCode == 400 && errorStatus == 'ERROR'">
                <sui-message class="negative" [isDismissable]="false">
                    <div class="header">
                        <i class="times circle icon"></i>
                        Error in Registration!
                    </div>
                    <p>
                        {{ errorMessage }}
                    </p>
                </sui-message>
            </div>
            <div>&nbsp;</div>

            <div class="twelve wide columns">
                <form [formGroup]="contractorForm" (ngSubmit)="newContractorAccount()" class="ui large form">

                    <div class="field required" [ngClass]="{ 'error' : submittedFormC && (fc.name.errors?.required ||
                                                                                          fc.name.errors?.minLength) }">
                        <label for="cnameLabel">Contractor Name</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" placeholder="Contractor Name" name="name" formControlName="name">
                        </div>
                        <div class="errors">
                            <span *ngIf="fc.name.errors?.required && submittedFormC">
                                Contractor Name is required.
                            </span>
                            <span *ngIf="fc.name.errors?.minLength && submittedFormC">
                                Contractor Name is too short.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormC && fc.phone.errors?.required }">
                        <label for="phoneCLabel">Phone #</label>
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            <input type="tel" placeholder="Phone #" name="phone" formControlName="phone">
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormC && fc.phone.errors?.required">
                                Phone # is required.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormC && (fc.email.errors?.required ||
                                                                                          fc.email.errors?.email ) }">
                        <label for="emailCLabel">Email</label>
                        <div class="ui left icon input">
                            <i class="envelope icon"></i>
                            <input type="email" placeholder="Email" name="email" formControlName="email">
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormC && fc.email.errors?.email">
                                Email format is incorrect.
                            </span>
                            <span *ngIf="submittedFormC && fc.email.errors?.required">
                                Email is required.
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="inline fields">
                            <label for="bbbAccreditedLabel">Are you BBB Accredited?</label>
                            <div class="field">
                                <input type="radio" name="accredited" value="1" checked="" formControlName="accredited">
                                <label for="yesLabel">Yes</label>
                            </div>
                            <div class="field">
                                <input type="radio" name="accredited" value="0" checked="true" formControlName="accredited">
                                <label for="noLabel">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label for="wcbLabel">WCB # (Optional)</label>
                        <div class="ui left icon input">
                            <i class="archive icon"></i>
                            <input type="text" placeholder="WCB # (Optional)" name="wcb" formControlName="wcb">
                        </div>
                    </div>

                    <div class="field required" [ngClass]=" { 'error' : submittedFormC && (fc.password.errors?.required ||
                                                                                           fc.password.errors?.minlength?.requiredLength ) }">
                        <label for="passwordLabel">Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Password" name="password" formControlName="password">
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormC && fc.password.errors?.required">
                                Password is required.
                            </span>
                            <span *ngIf="submittedFormC && fc.password.errors?.minlength?.requiredLength">
                                Password is too short.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormC && (fc.cpassword.errors?.required ||
                                                                                          fc.cpassword.errors?.minlength?.requiredLength ||
                                                                                          fc.cpassword.errors?.NoPasswordMatch) }">
                        <label for="cpasswordLabel">Confirm Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Confirm Password" name="cpassword" formControlName="cpassword">
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormC && fc.cpassword.errors?.required">
                                Confirm Password is required.
                            </span>
                            <span *ngIf="submittedFormC && fc.cpassword.errors?.NoPasswordMatch">
                                Password do not match.
                            </span>
                            <span *ngIf="submittedFormC && fc.cpassword.errors?.minlength?.requiredLength">
                                Confirm Password is too short.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormC && fc.cTermsContractor.errors?.required }">
                        <div class="ui checkbox">
                            <input type="checkbox" name="termsContractor" formControlName="cTermsContractor">
                            <label>
                                <a (click)="termsConditionsInfoOpen('termsConditions')" [routerLink]="">
                                    Accept Terms and Conditions
                                </a>
                            </label>
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormC && fc.cTermsContractor.errors?.required">
                                Terms and Conditions is required.
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="ui large teal submit button">
                        <i class="save icon"></i>
                        Save
                    </button>
                    <button type="button" class="ui large negative button" (click)="clearFieldsC()">
                        <i class="eraser icon"></i>
                        Clear
                    </button>
                </form>
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="home_owner">
            <div class="" *ngIf="isMessageDisplayed('errorH')">
                <sui-message class="negative" [isDismissable]="false">
                    <div class="header">
                        <i class="times circle icon"></i>
                        Please verify the fields
                    </div>
                    <p>
                        Please check the fields highligthed in red.
                    </p>
                </sui-message>
            </div>

            <div class="" *ngIf="errorCode == 400 && errorStatus == 'ERROR'">
                <sui-message class="negative" [isDismissable]="false">
                    <div class="header">
                        <i class="times circle icon"></i>
                        Error in Registration!
                    </div>
                    <p>
                        {{ errorMessage }}
                    </p>
                </sui-message>
            </div>

            <div>&nbsp;</div>

            <div class="twelve wide columns">
                <form [formGroup]="homeOwnerForm" (submit)="newHomeOwnerAccount()" class="ui large form">

                    <div class="field required" [ngClass]="{ 'error' : submittedFormH && (fh.name.errors?.required ||
                                                                                          fh.name.errors?.minLength) }">
                        <label for="cnameLabel">Contractor Name</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" placeholder="Home Owner Name" name="name" formControlName="name">
                        </div>
                        <div class="errors">
                            <span *ngIf="fh.name.errors?.required && submittedFormH">
                                Contractor Name is required.
                            </span>
                            <span *ngIf="fh.name.errors?.minLength && submittedFormH">
                                Contractor Name is too short.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormH && fh.phone.errors?.required }">
                        <label for="phoneHLabel">Phone #</label>
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            <input type="tel" placeholder="Phone #" name="phone" formControlName="phone">
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormH && fh.phone.errors?.required">
                                Phone # is required.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormH && (fh.email.errors?.required ||
                                                                                            fh.email.errors?.email) }">
                        <label for="emailHLabel">Email</label>
                        <div class="ui left icon input">
                            <i class="envelope icon"></i>
                            <input type="email" placeholder="Email" name="email" formControlName="email">
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormH && fh.email.errors?.required">
                                Email is required.
                            </span>
                            <span *ngIf="submittedFormH && fh.email.errors?.email">
                                Email has wrong format.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormH && (fh.password.errors?.required ||
                                                                                            fh.password.errors?.minlength?.requiredLength) }">
                        <label for="passwordHOLabel">Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Password" name="password" formControlName="password">
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormH && fh.password.errors?.required">
                                Password is required.
                            </span>
                            <span *ngIf="submittedFormH && fh.password.errors?.minlength?.requiredLength">
                                Password is too short.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormH && (fh.cpassword.errors?.required ||
                                                                                          fh.cpassword.errors?.minlength?.requiredLength ||
                                                                                          fh.cpassword.errors?.NoPasswordMatch) }">
                        <label for="cpasswordHOLabel">Confirm Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Confirm Password" name="cpassword" formControlName="cpassword">
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormH && fh.cpassword.errors?.required">
                                Confirm Password is required.
                            </span>
                            <span *ngIf="submittedFormH && fh.cpassword.errors?.NoPasswordMatch">
                                Password do not match
                            </span>
                            <span *ngIf="submittedFormH && fh.cpassword.errors?.minlength?.requiredLength">
                                Confirm Password is too short.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedFormH && fh.cTermsHome.errors?.required }">
                        <div class="ui checkbox">
                            <input type="checkbox" name="termsHome" formControlName="cTermsHome">
                            <label>
                                <a (click)="termsConditionsInfoOpen('termsConditions')" [routerLink]="">
                                    Accept Terms and Conditions
                                </a>
                            </label>
                        </div>
                        <div class="errors">
                            <span *ngIf="submittedFormH && fh.cTermsHome.errors?.required">
                                Terms and Conditions are required.
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="ui large teal submit button">
                        <i class="save icon"></i>
                        Save
                    </button>
                    <button type="button" class="ui large negative button" (click)="clearFieldsH()">
                        <i class="eraser icon"></i>
                        Clear
                    </button>

                </form>
            </div>
        </div>

        <div class="messages">
            <sui-message class="warning space_top" [isDismissable]="false">
                <header>
                    Have an account? <a [routerLink]="['/auth/login']">Sign here!</a>
                </header>
            </sui-message>
        </div>

    </div>

    <div class="one wide column">&nbsp;</div>
</div>

<jw-modal id="termsConditions">
    <div class="ui grid">
        <div class="ui centered five wide column">
            <h1 class="blue_bold center-text">
                Terms and Conditions
            </h1>
        </div>
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="ui sixteen wide column">
            <p class="blue">
                {{ termsConditions }}
            </p>
        </div>
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="ui sixteen wide column">
            <button (click)="termsConditionsInfoClose('termsConditions')" class="ui positive right floated button">
                <i class="close icon"></i>
                Close
            </button>
        </div>
    </div>
</jw-modal>
