/**
 * SASS will contain all the styles related to the components
 * that should be  written if is necessary. In case the component
 * needs to rewrite the css rules, then the code must be
 * put here
 *
 * @author Ruben Alonso Cortes Mendoza <ruben.alonso21@gmail.com>
 * @version 1.0
 * @platform contractorsbids
 */

$whiteColor: #FFFFFF;
$background: transparent !important;


body {
    padding: 0; margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1em;
}

.ui.container {
    min-height: 80%;
}

.ui.basic {
    &.white.button {
        color      : $white !important;
        box-shadow : 0 0 0 1px $whiteColor inset !important;
        -webkit-box-shadow: 0 0 0 1px $whiteColor inset !important;

        &:hover, &:focus {
            background-color: $background;
        }
    }

    &.white.buttons {
        & .button {
            color      : $white !important;
            box-shadow : 0 0 0 1px $whiteColor inset !important;
            -webkit-box-shadow: 0 0 0 1px $whiteColor inset !important;

            &:hover, &:focus {
                background-color: $background;
            }
        }
    }
}

div.hide-background {
    background: $background;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/**
 * Menu custom styles
 */
 .ui.menu{
    border-radius: 0 !important;
    
    &:not(.vertical)>.menu {
        display: none;
    }
}

/**
 * Images and Videos
 */
img {
    &.center_img {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
    }
}

div {
    &.center_div {
        display: table;
        margin: 0 auto;
    }
}

.ui.small.modal {
    margin: 0 0 0 35em !important;
}

/**
 * Posts
 */
div {
    &.title {
        font-size: 2em;
        font-weight: bolder;
    }
}

div.item {
    &.sizes {
        width: auto;
        height: 550px;
    }

    & .img_size {
        width: auto !important;
        height: 550px !important;
    }
}

/**
 * FOOTER
 **/
.ui.footer {
    margin-top: 25px !important;
}