/**
 * SASS will contain all the styles for letters and links
 * will be used on the platform
 *
 * @author Ruben Alonso Cortes Mendoza <ruben.alonso21@gmail.com>
 * @version 1.0
 * @platform contractorsbids
 */
@import './mixins';

$white: #FFFFFF;
$red: #9F3A38;
$black: #000000;
$blueF: #589BB4;

h3, h2, h1, h4, div > span {
    .white {
        color: $white !important;
    }

    .blue {
        color: $blueF !important;
    }

    .red {
        color: $red !important; 
    }
}

div {

    & .font-size-comments {
        font-size: 1.2em !important;
    }

    & .just-italic {
        font-style: italic !important;
    }

    & .center-text {
        text-align: center !important;
    }

    &.font_size_labels {
        font-size: 1.4em !important;
    }

    &.font_size_info {
        font-size: 1.1em !important;
    }

    &.space_info_data {
        margin-top: 10px !important;
    }

    .fonts-username {
        font-size: 1.4em !important;
    }

    &.font-comments {
        .font-bolder {
            font-weight: bolder;
        }

        .font-title {
            font-size: 1.2em !important;
        }

        .font-dates-normal {
            font-size: 1em !important;
        }

        .font-dates-small {
            font-size: .9em !important;
        }

        .font-format {
            font-style: italic !important;
        }

        .font-comment {
            font-size: 1em !important;
            font-style: normal;
        }
    }
}

a {
    &.general_white {
        text-decoration: none;
        position: relative;
        color: $white;

        @include mixin_custom_links;
    }

    &.general_blue {
        text-decoration: none;
        position: relative;
        color: $blueF;

        @include mixin_custom_links;
    }
}

.errors {
    color: $red;
    font-weight: bold;
}

.ui.dropdown {
    & .white_color {
        color: $white !important;
    }

    & > i.white {
        color: $white !important;
    }

    & > i.blue {
        color: $blueF !important;
    }

    &.item {
        .white {
            color: $white !important;
        }
    }
}

div > label {
    span.single_label {
        font-size: 1.2em !important;
        vertical-align: -5px !important;
    } 
}