<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>

        <div class="one column row">
            <div>&nbsp;</div>
            <div class="sixteen center aligned wide column">
                <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
            </div>
        </div>

        <div class="" *ngIf="checkError()">
            <div>&nbsp;</div>
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>
        <div class="" *ngIf="codeResponse == 200 && statusResponse == 'OK' && flagSuccess">
            <div>&nbsp;</div>
            <sui-message class="positive" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ header }}
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <table class="ui stripped celled table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Username</th>
                    <th>Winner Bid</th>
                    <th>Bid Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let bid of endbids">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ bid.name }}</td>
                    <td>{{ bid.username }}</td>
                    <td>{{ bid.offer | currency }}</td>
                    <td>{{ (bid.status == "2") ? 'Winner Bid' : 'Loser Bid' }}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <a routerLink="/bids/end-bids/view-end-bids" class="ui positive button">
                <i class="reply icon"></i>
                Return to 'My Bids'
            </a>
            <a routerLink="/posts/view/{{paramId}}" class="ui blue button">
                <i class="eye icon"></i>
                Go to Project
            </a>
        </div>

    </div>
</div>