<app-breadcrumbs [title]="title" [breads]="breads">
</app-breadcrumbs>

<div class="one column row" style="margin-top: 25px">

    <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
    <div>&nbsp;</div>
    <div>
        <sui-message class="success" [isDismissable]="false">
            <div class="header">
                <i class="check circle icon"></i>
                Account Created Successfully
            </div>
            <p>
                Your Account has been created successfully.Please, check the email to activate your account and start publishing projects.
            </p>
        </sui-message>
    </div>
    <div>&nbsp;</div>
    <div class="ui stacked segment blue_text">
        Hi <strong>{{ paramName }}</strong>, <br /><br />
        You have been registered to <strong>contractorsbids.com</strong> successfully. Please before login and start to publish projects, 
        confirm your email for activate you account.
        <br /><br />
        Once you have activated your account, you will be able to start to publish your projects.
        <br /><br />
        Sincerily, contractorsbids.com Team!
        <br /><br />
        <a class="ui blue button" routerLink="/">Back to home page</a>
        <a class="ui blue button" routerLink="/auth/register">Go to Register another account!</a> 
        <a class="ui blue button" routerLink="/auth/login">Go to Login page</a>
    </div>

</div>