<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>
        
        <div class="sixteen wide column top_messages_user" *ngIf="totalRecords == 0">
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info icon"></i>
                    There are no jobs reported as "Fake"
                </div>
                <p>
                    Currently there are no jobs reported Fake in the platform
                </p>
            </sui-message>
        </div>

        <div class="top_messages_user" *ngIf="codeResponse == 400 && messageStatus == 'ERROR'">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <div class="top_messages_user" *ngIf="codeResponse == 200 && messageStatus == 'OK' && flagSuccessRecord">
            <sui-message class="success" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ headerMessage }}
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <table class="ui stripped celled table" *ngIf="totalRecords != 0">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Created By</th>
                    <th>Reported By</th>
                    <th>Category</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody *ngFor="let fake of fakeJobs">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ fake.project_name }}</td>
                    <td>{{ fake.created_by }}</td>
                    <td>{{ fake.username }}</td>
                    <td>{{ fake.category }}</td>
                    <td>{{ fake.city }}, {{ fake.country }}</td>
                    <td>
                        <span *ngIf="fake.status == 1">Active</span>
                        <span *ngIf="fake.status == 2">Inactive</span>
                        <span *ngIf="fake.status == 0">Blocked</span>
                    </td>
                    <td>
                        <a routerLink="/view-job-reported/{{fake.fake_id}}/{{fake.project_id}}" class="ui teal button">
                            <i class="eye icon"></i>
                            View
                        </a>
                        <a class="ui yellow button" *ngIf="fake.status == 1" (click)="open('Inactive Project', 
                                                                                           'Are you sure you want to inactive the project selected?',
                                                                                           fake.id, fake.status, 2,
                                                                                           'Yes', 'No')">
                            <i class="ban icon"></i>
                            Inactive
                        </a>
                        <a class="ui green button" *ngIf="fake.status == 2" (click)="open('Active Record',
                                                                                          'Are you sure you want to active the project selected?',
                                                                                          fake.id, fake.status, 1,
                                                                                          'Yes', 'No')">
                            <i class="check circle outline icon"></i>
                            Active
                        </a>
                        <a class="ui negative button" *ngIf="fake.status != 0" (click)="deleteRecord('Block Record',
                                                                                       'Are you sure you want to block the project selected?',
                                                                                       fake.id,
                                                                                       'Yes', 'No')">
                            <i class="trash alternate icon"></i>
                            Block
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>