<app-breadcrumbs [title]="title" [breads]="breads">
</app-breadcrumbs>

<div class="three colum row">
    <div class="one wide column">&nbsp;</div>

    <div class="fourteen wide column">

        <div *ngIf="isValid == 0">
            <div class="ui stacked segment blue_text">
                Hi user, <br /><br />
                <b>{{ personalMsg }}</b><br />
                If you have issues with your credentials and can't reset the password, please contact
                contractorsbids.com Support Team.
                <br />
                Sincerely ContractorsBids.com Team!
                <br /><br />
                <a class="ui blue button" routerLink="/">Go to home page</a>
                <a class="ui blue button" routerLink="/auth/login">Go to Login page</a>
            </div>
        </div>

        <div *ngIf="isValid > 0">

            <div class="" *ngIf="errorFlag && code == 0">
                <sui-message class="negative" [isDismissable]="false">
                    <div class="header">
                        Please verify the fields
                    </div>
                    <p>
                        Please check the fields highligthed in red.
                    </p>
                </sui-message>
            </div>
            <div class="" *ngIf="code == 400 && status == 'ERROR' && errorFlag">
                <sui-message class="negative" [isDismissable]="false">
                    <div class="header">
                        <i class="times circle icon"></i>
                        ERROR - Change Password
                    </div>
                    <p>
                        {{ messages }}
                    </p>
                </sui-message>
            </div>
            <div class="" *ngIf="code == 200 && status == 'OK' && successFlag">
                <sui-message class="success" #message (click)="dismiss(message)">
                    <div class="header">
                        <i class="check circle icon"></i>
                        Record Updated Successfully.
                    </div>
                    <p>
                        {{ messages }}
                    </p>
                </sui-message>
            </div>
            <div>&nbsp;</div>

            <form [formGroup]="changeForm" (submit)="changePwd()" class="ui large form">
                <div class="ui stacked segment">

                    <div class="field required" [ngClass]="{ 'error' : submittedForm && (f.password.errors?.required
                                                                                        || f.password.errors?.minlength?.requiredLength) }">
                        <label for="pwdLabel">Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Password" name="password" formControlName="password">
                        </div>
                        <div class="errors">
                            <span *ngIf="f.password.errors?.required && submittedForm">
                                Password is required.
                            </span>
                            <span *ngIf="f.password.errors?.minlength?.requiredLength && submittedForm">
                                Password is too short.
                            </span>
                        </div>
                    </div>

                    <div class="field required" [ngClass]="{ 'error' : submittedForm && (f.cpassword.errors?.required
                                                                                        || f.cpassword.errors?.minlength?.requiredLength
                                                                                        || f.cpassword.errors?.NoPasswordMatch) }">
                        <label for="cpwdLabel">Confirm Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Confirm Password" name="cpassword" formControlName="cpassword">
                        </div>
                        <div class="errors">
                            <span *ngIf="f.cpassword.errors?.required && submittedForm">
                                Confirm Password is required.
                            </span>
                            <span *ngIf="f.cpassword.errors?.minlength?.requiredLength && submittedForm">
                                Confirm Password is too short.
                            </span>
                            <span *ngIf="f.cpassword.errors?.NoPasswordMatch && submittedForm">
                                Password do not match.
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="ui large teal submit button">
                        <i class="lock icon"></i>
                        New Password
                    </button>
                    <button type="button" (click)="clearField()" class="ui large negative button">
                        <i class="eraser icon"></i>
                        Clear
                    </button>
                    <a routerLink="/auth/login" class="ui large success button" *ngIf="code == 200 && status == 'OK'">
                        <i class="reply icon"></i>
                        Go to Login Page
                    </a>
                </div>
            </form>

        </div>
    </div>

    <div class="one wide column">&nbsp;</div>
</div>
