<div>

    <div class="" *ngIf="codeResponse == 200 && statusResponse == 'OK' && successFlag">
        <sui-message class="success" #message (click)="dismiss(message)">
            <div class="header">
                <i class="check circle icon"></i>
                {{ headerResponse }}
            </div>
            <p>
                {{ messageResponse }}
            </p>
        </sui-message>
        <div>&nbsp;</div>
    </div>

    <div class="" *ngIf="errorCode == 400 && errorStatus == 'ERROR' && errorFlag">
        <sui-message class="negative" [isDismissable]="false">
            <div class="header">
                <i class="check circle icon"></i>
                {{ errorStatus }}
            </div>
            <p>
                {{ messageResponse }}
            </p>
        </sui-message>
    </div>
        
    <div class="ui sixteen wide column">
        <div class="font_size_labels blue_bold">
            <i class="comments icon"></i>
            Comments
        </div>
        <div class="ui stackable segment sixteen wide column top_space_post" *ngIf="status == 1">
            <form [formGroup]="publish" (submit)="makeAComment()" class="ui large form">
            
                <div class="field required" [ngClass]="{ 'error' : submitedFlag && (f.title.errors?.required
                                                                                    || f.title.errors?.minlength?.requiredLength
                                                                                    || f.title.errors?.maxlength?.requiredLength ) }">
                    <label for="title">Title</label>
                    <div class="ui left icon input">
                        <i class="edit outline icon"></i>
                        <input type="text" placeholder="Title Comment" name="title" formControlName="title">
                    </div>
                    <div class="errors">
                        <span *ngIf="submitedFlag && f.title.errors?.required">
                            Please, type a comment title.
                        </span>
                        <span *ngIf="submitedFlag && f.title.errors?.minlength?.requiredLength">
                            Comment title is too short.
                        </span>
                        <span *ngIf="submitedFlag && f.title.errors?.maxlength?.requiredLength">
                            Comment title is too long.
                        </span>
                    </div>
                </div>

                <div class="field required" [ngClass]="{ 'error' : submitedFlag && (f.comment.errors?.required || 
                                                                                    f.comment.errors?.minlength?.requiredLength ||
                                                                                    f.comment.errors?.maxlength?.requiredLength) }">
                    <label for="descriptionComments">Description</label>
                    <textarea name="comment" formControlName="comment" placeholder="Comments" rows="4">
                    </textarea>
                    <div class="errors">
                        <span *ngIf="submitedFlag && f.comment.errors?.required">
                            Please, type a comment.
                        </span>
                        <span *ngIf="submitedFlag && f.comment.errors?.minlength?.requiredLength">
                            Comment is too short.
                        </span>
                        <span *ngIf="submitedFlag && f.comment.errors?.maxlength?.requiredLength">
                            Comment is too long.
                        </span>
                    </div>
                </div>

                <button class="ui large positive submit button" type="submit">
                    <i class="paper plane icon"></i>
                    Send
                </button>
                <button class="ui large negative button" (click)="cancel()" type="button">
                    <i class="eraser icon"></i>
                    Cancel
                </button>

            </form>
        </div>
    </div>
    <div class="ui sixteen wide column divider"></div>

    <div class="ui sixteen wide column" *ngFor="let publish of publishes; let idx = index;">
        <div class="ui sixteen wide column font-comments">
            <div class="ui grid">
                <div class="ui ten wide column font-bolder fonts-username blue_bold">
                    <i class="user circle icon"></i>
                    {{ publish.user }}
                </div>
                <div class="ui five wide column font-dates-small font-format">
                    <i class="calendar alternate icon"></i>
                    {{ publish.created | date: 'medium' }}
                </div>
            </div>
            <div class="space-comments spaces-title font-title font-bolder blue">
                {{ publish.title }}
            </div>
            <div class="space-comments space-comment font-comment">
                {{ publish.comment }}
            </div>
        </div>
        <div class="margin-top-span" *ngIf="status == 1">
            <span>
                <a (click)="replyComment(publish)" style="cursor: pointer">
                    <i class="reply icon"></i>
                    Reply
                </a>
            </span>
            <span class="left-span" *ngIf="checkIsOwner()"> | </span>
            <span class="left-span" *ngIf="checkIsOwner()">
                <a (click)="reportComment(publish)" style="cursor: pointer">
                    <i class="bullhorn icon"></i>
                    Report comment
                </a>
            </span>

            <div *ngIf="isReply && isReplyId == publish.id" class="margin-top-inner-form">
                <app-comments *ngIf="publish.id" [publish]="publish.id" [user]="user" [post]="post"></app-comments>
            </div>
        </div>

        <div class="ui sixteen wide column divider"></div>

        <!-- TODO: Add new component for inner comments **START** -->
        <div class="ui sixteen wide column" *ngFor="let inner of publish['inner']; let idx1= index;">
            <div class="ui grid">
                <div class="ui one wide column">
                    &nbsp;
                </div>
                <div class="ui fifteen wide column font-comments">
                    <div class="ui grid">
                        <div class="ui ten wide column font-bolder fonts-username blue_bold">
                            <i class="user circle outline icon"></i>
                            {{ inner.username }}
                        </div>
                        <div class="ui five wide column font-dates-small font-format">
                            <i class="calendar alternate outline icon"></i>
                            {{ inner.created | date: 'medium' }}
                        </div>
                    </div>
                    <div class="space-comments space-comment font-comment">
                        {{ inner.comment }}
                    </div>

                    <div class="margin-top-span" *ngIf="checkIsOwner()">
                        <a (click)="innerComment(inner)" style="cursor: pointer">
                            <i class="bullhorn icon"></i>
                            Report Comment
                        </a>
                    </div>
                    <div class="ui sixteen wide column divider"></div>
                </div>
            </div>
        </div>
        <div class="margin-bottom-inner"></div>
        <!-- TODO: Add new component for inner comments **END** -->
    </div>
</div>