<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>

        <div class="one column row">
            <div>&nbsp;</div>
            <div class="sixteen center aligned wide column">
                <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
            </div>
            <div>&nbsp;</div>
        </div>
        
        <div class="sixteen wide column" *ngIf="totalRecords == 0">
            <div>&nbsp;</div>
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info icon"></i>
                    There are no bids finished!
                </div>
                <p>
                    Currently you don't have bids finished where you were participating.
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>

        <div class="" *ngIf="codeResponse == 400 && statusResponse == 'ERROR' && flagError">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <div class="" *ngIf="codeResponse == 200 && statusResponse == 'OK' && flagSuccess">
            <sui-message class="positive" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ headerResponse }}
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <div>
            <a routerLink="/bids/projects-bids/view-all-bids-project" class="ui teal button">
                <i class="reply icon"></i>
                Return to My Project Bids
            </a>
        </div>

        <table class="ui stripped celled table" *ngIf="totalRecords != 0">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Current Bid</th>
                    <th>Username</th>
                    <th>Bid Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody *ngFor="let bidsData of myBidsActive">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ bidsData.name }}</td>
                    <td>{{ bidsData.offer | currency }}</td>
                    <td>{{ bidsData.username }}</td>
                    <td>{{ (bidsData.status == "1") ? 'Current Bid' : 'Old Bid' }}</td>
                    <td *ngIf="bidsData.status !== '2' || bidsData.status !== 2">
                        <div *ngIf="bidsData.status === '0' || bidsData.status === '1'">
                            <a class="ui positive button" (click)="actionBidOwner(2, bidsData)">
                                <i class="check circle outline icon"></i>
                                Accept Bid
                            </a>
                            <a class="ui negative button" (click)="actionBidOwner(3, bidsData)">
                                <i class="times circle outline icon"></i>
                                Decline Bid
                            </a>
                        </div>
                        <div *ngIf="bidsData.status === '3' || bidsData.status === '2'">
                            <span *ngIf="bidsData.status === '2'">
                                paypal button
                            </span>
                            <span *ngIf="bidsData.status === '3'" class="red">
                                Bid Declined
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <a routerLink="/bids/projects-bids/view-all-bids-project" class="ui teal button">
                <i class="reply icon"></i>
                Return to My Project Bids
            </a>
        </div>

    </div>
</div>