<app-breadcrumbs [title]="title" [breads]="breads">
</app-breadcrumbs>

<div class="three column row">
    <div class="one wide column">&nbsp;</div>

    <div class="fourteen wide column">

        <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
        <div>&nbsp;</div>

        <div class="ui large">
            <sui-message class="info" [isDismissable]="false">
                <div>
                    <header>
                        <i className="exclamation circle icon"></i>
                        Importan information: Please provide the e-mail you used to register in the contractorsbids.
                    </header>
                    <p>
                        <i class="icon info circle"></i>
                        The fields marked with star '*' are required.
                    </p>
                </div>
            </sui-message>
        </div>
        <div>&nbsp;</div>

        <div class="" *ngIf="isMessageDisplayed('error')">
            <sui-message class="negative" [isDismissable]="false">
                <div class="header">
                    Please verify the fields
                </div>
                <p>
                    Please check the fields highligthed in red.
                </p>
            </sui-message>
        </div>
        <div>&nbsp;</div>

        <div class="" *ngIf="statusCode == 400 && statusResp == 'ERROR'">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error!
                </div>
                <p>
                    {{ statusMessage }}
                </p>
            </sui-message>
        </div>
        <div class="" *ngIf="statusCode == 200 && statusResp == 'OK'">
            <sui-message class="success" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    Success
                </div>
                <p>
                    {{ statusMessage }}
                </p>
            </sui-message>
        </div>
        <br />

        <form [formGroup]="resetPwdForm" (ngSubmit)="resetPwd()" class="ui large form">
            <div class="ui stacked segment">

                <div class="field required" [ngClass]="{ 'error' : submittedForm && (f.email.errors?.required ||
                                                                                     f.email.errors?.email)}">
                    <label for="email">Email</label>
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        <input type="email" placeholder="Email" name="email" formControlName="email">
                    </div>
                    <div class="errors">
                        <span *ngIf="submittedForm && f.email.errors?.required">
                            Email is required.
                        </span>
                        <span *ngIf="submittedForm && f.email.errors?.email">
                            Email has invalid format.
                        </span>
                    </div>
                </div>

                <div class="field required" [ngClass]="{ 'error' : submittedForm && (f.confirm_email.errors?.required ||
                                                                                     f.confirm_email.errors?.email) ||
                                                                                     f.confirm_email.errors?.NoEmailMatch }">
                    <label for="confirm_email">Confirm Email:</label>
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        <input type="email" placeholder="Confirm Email" name="confirm_email" formControlName="confirm_email">
                    </div>
                    <div class="errors">
                        <span *ngIf="submittedForm && f.confirm_email.errors?.required">
                            Email is required.
                        </span>
                        <span *ngIf="submittedForm && f.confirm_email.errors?.NoEmailMatch">
                            Email do not match.
                        </span>
                        <span *ngIf="submittedForm && f.confirm_email.errors?.email">
                            Email has invalid format.
                        </span>
                    </div>
                </div>
                
                <button type="submit" class="ui large teal submit button">
                    <i class="sync alternate icon"></i>
                    Change Password
                </button>
                <button type="button" class="ui large negative button" (click)="clearPwdFields()">
                    <i class="eraser icon"></i>
                    Clear
                </button>
            </div>
        </form>

    </div>

    <div class="one wide column">&nbsp;</div>
</div>
