<app-breadcrumbs [title]="title" [breads]="breads">
</app-breadcrumbs>

<div class="three column row">
    <div class="one wide column">&nbsp;</div>

    <div class="fourteen wide column">

        <div class="" *ngIf="isMessageDisplayed('error')">
            <sui-message class="negative" [isDismissable]="false">
                <div class="header">
                    Please verify the fields
                </div>
                <p>
                    Please check the fields highligthed in red.
                </p>
            </sui-message>
        </div>
        <div class="" *ngIf="isMessageDisplayed('success')">
            <sui-message class="success" #messageSuccess>
                <i class="close icon" (click)="dismissMessage(messageSuccess)"></i>
                <div class="header">
                    Message has been sent successfully!
                </div>
                <p>
                    Your message has been sent successfully!
                </p>
            </sui-message>
        </div>

        <form [formGroup]="contactForm" class="ui large form" (ngSubmit)="contact()">
            <div class="ui stacked segment">

                <div class="ui large">
                    <sui-message class="info" [isDismissable]="false">
                        <div>
                            <header>
                                <i class="icon info circle"></i>
                                The fields marked with star '*' are required.
                            </header>
                        </div>
                    </sui-message>
                </div>

                <div class="field required" [ngClass]="{ 'error' : submittedForm && f.subject.errors?.required }">
                    <label for="subjectLabel">Subject</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="Subject" name="subject" formControlName="subject">
                    </div>
                    <div class="errors">
                        <span *ngIf="f.subject.errors?.required && submittedForm">
                            Subject is required.
                        </span>
                    </div>
                </div>

                <div class="field required" [ngClass]="{ 'error' : submittedForm && (f.email.errors?.email || f.email.errors?.required) }">
                    <label for="emailLabel">Email</label>
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        <input type="email" name="email" placeholder="Email" formControlName="email">
                    </div>
                    <div class="errors">
                        <span *ngIf="f.email.errors?.required && submittedForm">
                            Email is required.
                        </span>
                        <span *ngIf="f.email.errors?.email && submittedForm">
                            Emails has invalid format.
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label for="phoneLabel">Phone # (Optional)</label>
                    <div class="ui left icon input">
                        <i class="phone icon"></i>
                        <input type="tel" name="phone" placeholder="Phone # (Optional)" formControlName="phone">
                    </div>
                </div>

                <div class="field required" [ngClass]="{ 'error' : submittedForm && (f.comments.errors?.required)}">
                    <label for="textLabel">Comments</label>
                    <textarea name="comments" rows="8" cols="80" formControlName="comments"></textarea>
                    <div class="errors">
                        <span *ngIf="f.comments.errors?.required && submittedForm">
                            Comments are required.
                        </span>
                        <span *ngIf="f.comments.errors?.minLength && submittedForm">
                            The comment is too short.
                        </span>
                        <span *ngIf="f.comments.errors?.maxLength && submittedForm">
                            The comment is too long.
                        </span>
                    </div>
                </div>

                <button type="submit" class="ui large teal submit button">
                    Send
                </button>
                <button type="button" class="ui large negative button" (click)="clearFields()">
                    Clear
                </button>
            </div>
        </form>

        <div class="messages">
            <sui-message class="warning space_top" [isDismissable]="false">
                <header>
                    Do you have an account?
                </header>
                <p>
                    If you don't have an account, please click <a href="" class="general"> HERE. </a>
                </p>
            </sui-message>
        </div>

    </div>

    <div class="one wide column">&nbsp;</div>
</div>
