<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>            
    
        <div class="" *ngIf="flagSuccessRecord">
            <sui-message class="success" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    Record Added
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>
    
        <div class="" *ngIf="flagDeleteRecord">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>
        <div>&nbsp;</div>

        <div class="sixteen wide column" *ngIf="totalRecords == 0">
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info icon"></i>
                    There are no data in "Terms and Conditions" section.
                </div>
                <p>
                    If you have not inserted data in "Terms and Conditions" section, please insert it click in in the add button.
                </p>
            </sui-message>
            <div>&nbsp;</div>
            <div>
                <a class="ui small primary labeled icon button" routerLink="/admin/termsconditions/create">
                    <i class="clipboard icon"></i>
                    Add Record
                </a>
            </div>
        </div>
    
        <table class="ui stripped celled table" *ngIf="totalRecords != 0">
            <thead>
                <tr>
                    <th colspan="6">
                        <a class="ui right floated small primary labeled icon button" routerLink="/admin/termsconditions/create">
                            <i class="clipboard icon"></i>
                            Add Record
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Section</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody *ngFor="let termsList of termsLists">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ termsList.section }}</td>
                    <td>{{ termsList.description | truncate: 100 }}</td>
                    <td>{{ (termsList.status == "1") ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <a routerLink="/admin/termsconditions/view-terms/single/{{termsList.id}}" class="ui teal button">
                            <i class="eye icon"></i>
                            View
                        </a>
                        <a routerLink="/admin/termsconditions/update/{{termsList.id}}" class="ui teal button">
                            <i class="edit icon"></i>
                            Edit
                        </a>
                        <a class="ui yellow button" *ngIf="termsList.status == 1" (click)="open('Inactive Record', 
                                                                                                'Are you sure you want to inactive the record selected?',
                                                                                                termsList.id, 2,
                                                                                                'Yes', 'No')">
                            <i class="ban icon"></i>
                            Inactive
                        </a>
                        <a class="ui green button" *ngIf="termsList.status == 2" (click)="open('Active Record',
                                                                                            'Are you sure you want to active the record selected?',
                                                                                            termsList.id, 1,
                                                                                            'Yes', 'No')">
                            <i class="check circle outline icon"></i>
                            Active
                        </a>
                        <a class="ui negative button" (click)="deleteRecord('Delete Record',
                                                                            'Are you sure you want to delete the record selected?',
                                                                            termsList.id,
                                                                            'Yes', 'No')">
                            <i class="trash alternate icon"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="6">
                        <a class="ui right floated small primary labeled icon button" routerLink="/admin/termsconditions/create">
                            <i class="clipboard icon"></i>
                            Add Record
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
      
    </div>
</div>