<div>
    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>

        <div class="sixteen wide column" *ngIf="totalRecords == 0">
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info icon"></i>
                    There are no data in "How It Works" section.
                </div>
                <p>
                    If you have not inserted data in "How It Works" section, please insert it click in in the add button.
                </p>
            </sui-message>
            <div>&nbsp;</div>
            <div>
                <a class="ui small primary labeled icon button" routerLink="/admin/how-it-works/create">
                    <i class="clipboard icon"></i>
                    Add Record
                </a>
            </div>
        </div>
    
        <div class="" *ngIf="flagDeleteRecord && codeResponse == 400 && messageStatus == 'ERROR'">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>
    
        <div class="" *ngIf="codeResponse == 200 && messageStatus == 'OK' && flagSuccessRecord">
            <sui-message class="success" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ headerMessage }}
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>
    
        <table class="ui stripped celled table" *ngIf="totalRecords != 0">
            <thead>
                <tr>
                    <th colspan="6">
                        <a class="ui right floated small primary labeled icon button" routerLink="/admin/how-it-works/create">
                            <i class="clipboard icon"></i>
                            Add Record
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Section</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody *ngFor="let howItWorks of howItWorksList">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ howItWorks.section }}</td>
                    <td>{{ howItWorks.description | truncate: 90 }}</td>
                    <td>{{ (howItWorks.status == "1") ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <a routerLink="/admin/how-it-works/view-works/single/{{howItWorks.id}}" class="ui teal button">
                            <i class="eye icon"></i>
                            View
                        </a>
                        <a routerLink="/admin/how-it-works/update/{{howItWorks.id}}" class="ui teal button">
                            <i class="edit icon"></i>
                            Edit
                        </a>
                        <a class="ui yellow button" *ngIf="howItWorks.status == 1" (click)="open('Inactive Record', 
                                                                                                'Are you sure you want to inactive the record selected?',
                                                                                                howItWorks.id, 2,
                                                                                                'Yes', 'No')">
                            <i class="ban icon"></i>
                            Inactive
                        </a>
                        <a class="ui positive button" *ngIf="howItWorks.status == 2" (click)="open('Active Record',
                                                                                                    'Are you sure you want to active the record selected?',
                                                                                                    howItWorks.id, 1,
                                                                                                    'Yes', 'No')">
                            <i class="check circle outline icon"></i>
                            Active
                        </a>
                        <a class="ui negative button" (click)="deleteRecord('Delete Record',
                                                                            'Are you sure you want to delete the record selected?',
                                                                            howItWorks.id,
                                                                            'Yes', 'No')">
                            <i class="trash alternate icon"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="6">
                        <a class="ui right floated small primary labeled icon button" routerLink="/admin/how-it-works/create">
                            <i class="clipboard icon"></i>
                            Add Record
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    
    </div>
</div>