<div>

    <app-breadcrumbs [title]="title" [breads]="breads">
    </app-breadcrumbs>
    
    <div class="ui stacked segment">

        <div class="" *ngIf="codeResp == 400 && statusResp == 'ERROR'">
            <sui-message class="negative" [isDismissable]="false">
                <div class="header">
                    <i class="times circle icon"></i>
                    {{ statusResp }}
                </div>
                <p>
                    {{ errorMsg }}
                </p>
            </sui-message>
        </div>

        <div class="" *ngIf="flagError && codeResp == 0">
            <sui-message class="negative" [isDismissable]="false">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error - Please verify the fields
                </div>
                <p>
                    Please check the fields highligthed in red.
                </p>
            </sui-message>
        </div>

        <div class="" *ngIf="flagSuccess && codeResp == 200 && statusResp == 'OK'">
            <sui-message class="success" #message [isDismissable]="true" (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ errorMsg }}
                </div>
                <p>
                    The record has been updated successfully.
                </p>
            </sui-message>
        </div>
        <div>&nbsp;</div>

        <form [formGroup]="formGroupE" (ngSubmit)="updateRecord()" class="ui large form" enctype="multipart/form-data">

            <div class="field">
                <label for="sectionAboutLabels">Section</label>
                <div class="ui left icon input">
                    <i class="list icon"></i>
                    <input type="text" value="About Us" name="section" formControlName="section">
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.description.errors?.required }">
                <label for="descriptionAbout">Description</label>
                <app-ngx-editor [config]="editorConfig" [spellcheck]="true" formControlName="description"></app-ngx-editor>
                <div  class="errors">
                    <span *ngIf="submitedForm && f.description.errors?.required">
                        Description is required
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.options.errors?.required }">
                <label for="optionsALabel">Options</label>
                <select class="ui fluid dropdown" name="options" formControlName="options" (change)="disabledEnabledFields($event)">
                    <option value="">Select an option</option>
                    <option value="1">Images</option>
                    <option value="2">Videos</option>
                </select>
                <div class="errors">
                    <span *ngIf="submitedForm && f.options.errors?.required">
                        Options is required
                    </span>
                </div>
            </div>

            <div class="field">
                <label for="fileALabel">Image</label>
                <div class="ui fluid input">
                    <input type="file" placeholder="Select an Image" name="image" formControlName="image">
                </div>
                <div *ngIf="typeFile == 1">
                    <span>
                        <img src="{{ fileString }}" alt="Image {{ id }}" width="50px" height="50px">
                    </span>
                    <span>
                        {{ nameString }}
                    </span>
                    <span>
                        <a [routerLink]="" (click)="deleteImage('Delete Image',
                                                                'Are you sure you want to delete this image?',
                                                                id,
                                                                'Yes', 'No')">
                            <i class="close icon"></i>
                            Delete
                        </a>
                        <a [routerLink]="" (click)="viewerFilesOpen('viewerFiles')">
                            <i class="eye icon"></i>
                            View
                        </a>
                    </span>
                </div>
            </div>

            <div class="field">
                <label for="videoUrlLabel">Video URL</label>
                <div class="ui left icon input">
                    <i class="youtube icon"></i>
                    <input type="text" name="urlVideo" formControlName="urlVideo" value="{{ url }}">
                </div>
                <div *ngIf="typeFile == 2">
                    <span>
                        <div [innerHtml]="videoImage"></div>
                    </span>
                    <span>
                        {{ nameString }}
                    </span>
                    <span>
                        <a [routerLink]="" (click)="deleteImage('Delete Video',
                                                                'Are you sure you want to delete this video?',
                                                                id,
                                                                'Yes', 'No')">
                            <i class="close icon"></i>
                            Delete
                        </a>
                        <a [routerLink]="" (click)="viewerFilesOpen('viewerFiles')">
                            <i class="eye icon"></i>
                            View
                        </a>
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.status.errors?.required }">
                <label for="statusALabel">Status</label>
                <select class="ui fluid dropdown" name="status" formControlName="status">
                    <option value="">Select Status</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
                <div class="errors">
                    <span *ngIf="submitedForm && f.status.errors?.required">
                        Status is required.
                    </span>
                </div>
            </div>

            <button class="ui large teal submit button" type="submit">
                <i class="save icon"></i>
                Save
            </button>
            <button class="ui large negative button" type="button" (click)="cancelOptions()">
                <i class="reply icon"></i>
                Cancel
            </button>
        </form>
    </div>

</div>

<jw-modal id="viewerFiles">
    <div class="ui grid">
        <div class="ui centered five wide column">
            <h1 class="blue_bold center-text">
                <span *ngIf="typeFile == 1 || typeFile == '1'">View Image</span>
                <span *ngIf="typeFile == 2 || typeFile == '2'">View Video</span>
            </h1>
        </div>
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="ui sixteen wide column">
            <p class="blue center-text">
                <span *ngIf="typeFile == 1 || typeFile == '1'">
                    <img src="{{ fileString }}" alt="">
                </span>
                <span *ngIf="typeFile == 2 || typeFile == '2'">
                    <div [innerHtml]="fileString"></div>
                </span>
            </p>
        </div>
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="ui sixteen wide column">
            <button (click)="viewerFilesClose('viewerFiles')" class="ui positive right floated button">
                <i class="close icon"></i>
                Close
            </button>
        </div>
    </div>
</jw-modal>