<header class="ui header segment background_blue_color round-borders" id="header_img_layout">
    <div class="ui container">
        <div class="ui grid">
            <div class="five wide column">
                <a [routerLink]="['/']">
                    <img src="/assets/img/website/logo.png" alt="logo" />
                </a>
            </div>
            <div class="eleven wide column header_space"><!-- check if ngSwitch is better option -->
                <div class="ui menu hide-background right floated left aligned" *ngIf="auth.loggedIn">
                    <div class="ui simple dropdown margin_form_offer center-text">
                        <div class="text white center-text">Welcome  {{ username }}</div>
                        <i class="dropdown icon white"></i>
                        <div class="menu">
                            <div class="item center-text">
                                <a (click)="spi()">
                                    Personal Information
                                </a>
                            </div>
                            <div class="item center-text">
                                <a [routerLink]="" (click)="logout()">
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!auth.loggedIn">
                    <a [routerLink]="['auth', 'login']" class="ui white basic right floated button">
                        Sign In
                    </a>
                    <a [routerLink]="['auth', 'register']" class="ui white basic right floated button">
                        Sign Up
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="ui center aligned grid">
            <div class="five wide column">
                <a [routerLink]="['/how-it-works']" class="general_white">
                    How It Works?
                </a>
            </div>
            <div class="five wide column">
                <a [routerLink]="['/about-us']" class="general_white">
                    About Us
                </a>
            </div>
            <div class="five wide column">
                <a [routerLink]="['/contact']" class="general_white">
                    Contact Us
                </a>
            </div>
            <div class="one wide column">&nbsp;</div>
        </div>
    </div>
</header>

<div class="ui segment background_blue_color round-borders no-margin-top">
    <div class="ui menu background_blue_color border_color_main_menu">
        <div class="ui container">

            <div class="ui simple dropdown item background_blue_color link border_color_main_menu margins_menus color_white borders-menus left-b right-b">
                <div class="text center-text">Projects</div>
                <i class="dropdown icon"></i>
                <div class="menu center_menus">
                    <div class="item center-text">
                        <a [routerLink]="['/posts/dashboard']">
                            Dashboard
                        </a>
                    </div>
                    <div class="item center-text">
                        <a [routerLink]="['/posts/create']">
                            Create Projects
                        </a>
                    </div>
                    <div class="item center-text">
                        <a [routerLink]="">
                            Paid Projects
                        </a>
                    </div>
                    <div class="item center-text">
                        <a [routerLink]="">
                            Pending Projects
                        </a>
                    </div>
                    <div class="item center-text">
                        <a [routerLink]="['/posts/dashboard']">
                            Search a Projects
                        </a>
                    </div>
                </div>
            </div>

            <div class="ui simple dropdown item background_blue_color link border_color_main_menu margins_menus color_white borders-menus right-b"
                 *ngIf="auth.loggedIn">
                <div class="text center-text">Bids</div>
                <i class="dropdown icon"></i>
                <div class="menu center_menus">
                    <div class="item center-text">
                        <a [routerLink]="['/bids/my-bids/view-all-bids']">
                            Open Bids
                        </a>
                    </div>
                    <div class="item center-text">
                        <a [routerLink]="['/bids/end-bids/view-end-bids']">
                            Finished Bids
                        </a>
                    </div>
                    <div class="item center-text">
                        <a [routerLink]="['/bids/projects-bids/view-all-bids-project']">
                            My Open Bids Project
                        </a>
                    </div>
                    <div class="item center-text">
                        <a [routerLink]="['/bids/end-projects-bids/view-all-end-projects']">
                            My Finished Bids Projects
                        </a>
                    </div>
                </div>
            </div>

            <div class="ui simple dropdown item background_blue_color link border_color_main_menu margins_menus color_white borders-menus right-b"
                 *ngIf="auth.loggedIn && admin">
                <div class="text center-text">Admin</div>
                <i class="dropdown icon"></i>
                <div class="menu center_menus">
                    <div class="item center-text">
                        <a [routerLink]="['/admin/administrator']">
                            Panel Admin
                        </a>
                    </div>
                    <div class="item center-text">
                        <a [routerLink]="['/jobs-reported/list-all-fake-jobs']">
                            Jobs Reported
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="ui container">
    <router-outlet>
        <div class="ui grid"></div>
    </router-outlet>
</div>

<div class="ui footer segment background_green_color round-borders">
    <div class="ui container">
        <div class="ui grid">
            <div class="three column row">
                <div class="three wide column">
                    <a href="">
                        <img src="/assets/img/website/facebook.png" width="40" height="40"
                            alt="Facebook Social Network">
                    </a>
                    <a href="">
                        <img src="/assets/img/website/twitter.png" width="40" height="40"
                            alt="Twitter Social Network">
                    </a>
                </div>
                <div class="ten wide column">
                    <h2 class="white_bold">
                        "THE PROJECT THAT YOU WAS LOOKING FOR IS HERE"
                    </h2>
                </div>
                <div class="two wide column">&nbsp;</div>
            </div>
            <div class="three column row">

                <div class="three wide column">&nbsp;</div>
                <div class="ten wide column font_size_info">
                    <a [routerLink]="['/how-it-works']" class="general_white">
                        How It Works
                    </a> 
                    <span class="white paddings_links_separation">|</span>
                    <a [routerLink]="['/about-us']" class="general_white">
                        About Us
                    </a> 
                    <span class="white paddings_links_separation">|</span>
                    <a [routerLink]="['/contact']" class="general_white">
                        Contact Us
                    </a> 
                    <span class="white paddings_links_separation">|</span>
                    <a [routerLink]="['/terms-conditions']" class="general_white">
                        Terms And Conditions
                    </a>
                </div>
                <div class="two wide column">&nbsp;</div>
            </div>
            <div class="one column row">
                <h3>
                    <span class="white">
                    © 2018 Copyright thecontractordepots.com
                    </span>
                </h3>
            </div>

        </div>
    </div>
</div>