<app-breadcrumbs [title]="title" [breads]="breads">
</app-breadcrumbs>

<div class="one column row" style="margin-top: 25px">

    <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
    <div>&nbsp;</div>
   
    <div *ngIf="code == 200 && status == 'OK'">
        <sui-message class="success" [isDismissable]="false">
            <div class="header">
                <i class="check circle icon"></i>
                Account Activates Successfully.
            </div>
            <p>
                {{ message }}
            </p>
        </sui-message>
    </div>
    <div *ngIf="code == 400 && status == 'ERROR'">
        <sui-message class="negative" [isDismissable]="false">
            <div class="header">
                <i class="times circle icon"></i>
                ERROR
            </div>
            <p>
                {{ message }}
            </p>
        </sui-message>
    </div>
    <div>&nbsp;</div>

    <div class="ui stacked segment blue_text">
        <div *ngIf="code == 200 && status == 'OK'">
            Hi <strong>{{ username }}</strong>, <br /><br />
            You account has been activated successfully. <br />
            Start to publish projects or start to search projects.
            <br />
            Sincerely ContractorsBids.com Team!
            <br /><br />
            <a class="ui blue button" routerLink="/">Go to home page</a>
            <a class="ui blue button" routerLink="/auth/login">Go to Login page</a>
        </div>
        <div *ngIf="code == 400 && status == 'ERROR'">
            Hi, <br /><br />
            You account hasn't been activated. <br />
            Please check the account has already been activated or the token is incorrect. To know that information
            please contact support team.
            <br />
            Sincerely ContractorsBids.com Team!
            <br /><br />
            <a class="ui blue button" routerLink="/">Go to home page</a>
        </div>
    </div>
</div>