<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>

        <div class="one column row">
            <div>&nbsp;</div>
            <div class="sixteen center aligned wide column">
                <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
            </div>
            <div>&nbsp;</div>
        </div>
        
        <div class="sixteen wide column" *ngIf="totalRecords == 0">
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info icon"></i>
                    There are no projects open!
                </div>
                <p>
                    Currently you don't have projects open to receive a bid.
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>

        <div class="" *ngIf="codeResponse == 400 && statusResponse == 'ERROR' && flagError">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>

        <table class="ui stripped celled table" *ngIf="totalRecords != 0">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Category</th>
                    <th>Bid Status</th>
                    <th>Current Bid</th>
                    <th>Current User</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody *ngFor="let bidsData of myBidsFinished">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ bidsData.name }}</td>
                    <td>{{ bidsData.category }}</td>
                    <td>{{ (bidsData.status == "2") ? 'Bid Accepted' : 'Bid Declined' }}</td>
                    <td>{{ bidsData.username }}</td>
                    <td>{{ bidsData.offer | currency }}</td>
                    <td>
                        <div>
                            <a routerLink="/posts/view/{{bidsData.post}}" class="ui blue fluid button">
                                <i class="eye icon"></i>
                                Go to Project
                            </a>
                        </div>
                        <div *ngIf="bidsData.status == 2">
                            <div>&nbsp;</div>
                            <app-paypal-custom [postId]="bidsData.post" [postPayments]="bidsData.offer"></app-paypal-custom>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <a class="ui blue button" routerLink="/bids/end-projects-bids/view-all-end-projects">
                <i class="reply icon"></i>
                Return to List
            </a>
            <a class="ui positive button" routerLink="/posts/view/{{paramId}}">
                <i class="eye icon"></i>
                Go to Project
            </a>
        </div>
    </div>
</div>