<div>

  <div class="ui column">
    
    <div class="sixteen wide column" *ngIf="totalRecords == 0">
        <sui-message class="info" [isDismissable]="false">
            <div class="header">
                <i class="info icon"></i>
                There are no data in "Dashboard" section.
            </div>
            <p>
                If you have not inserted data in "Posts" section, please insert it click in in the add button.
            </p>
        </sui-message>
        <div>&nbsp;</div>
        <div>
            <a class="ui small primary labeled icon button" routerLink="/posts/create">
                <i class="clipboard icon"></i>
                Add Record
            </a>
        </div>
    </div>

    <div class="" *ngIf="flagSuccessRecord">
        <sui-message class="success" #message (click)="dismiss(message)">
            <div class="header">
                <i class="check circle icon"></i>
                Record Added
            </div>
            <p>
                {{ messageResponse }}
            </p>
        </sui-message>
    </div>

    <div class="" *ngIf="flagDeleteRecord">
        <sui-message class="negative" #message (click)="dismiss(message)">
            <div class="header">
                <i class="times circle icon"></i>
                Error
            </div>
            <p>
                {{ messageResponse }}
            </p>
        </sui-message>
    </div>

    <form [formGroup]="formGroupSearch" (ngSubmit)="searchRecord()" class="ui large form">
        <table class="ui stripped celled table">
            <thead>
                <th>
                    Search for Project
                </th>
            </thead>
            <tbody>
                <td>
                    <label for="postname">Post Name</label>
                    <div class="ui fluid input">
                        <input type="text" placeholder="Post Name" name="postname" formControlName="postname">
                    </div>
                </td>
                <td>
                    <label for="city">City</label>
                    <select class="ui fluid dropdown" name="city" formControlName="city">
                        <option value="">Select an option</option>
                        <option value="1">City 1</option>
                        <option value="2">City 2</option>
                    </select>
                </td>
                <td>
                    <label for="category">Category</label>
                    <select class="ui fluid dropdown" name="category" formControlName="category">
                        <option value="">Select an option</option>
                        <option value="1">Category 1</option>
                        <option value="2">Category 2</option>
                    </select>
                </td>
                <td>
                    <button class="ui large teal submit button" type="submit">
                      Search
                  </button>
                </td>
            </tbody>
        </table>
    </form>

    <table class="ui stripped celled table">
        <thead>
            <tr>
                <th colspan="6">
                    <a class="ui right floated small primary labeled icon button" routerLink="/posts/create">
                        <i class="clipboard icon"></i>
                        Add Record
                    </a>
                </th>
            </tr>
            <tr>
                <th>Post Name</th>
                <th>Category</th>
                <th>City</th>
                <th>Published By</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody *ngFor="let posts of postsList">
            <!-- here we put the code for loop the data -->
            <tr>
                <td>{{ posts.post_name| truncate: 100 }}</td>
                <td>{{ posts.category }}</td>
                <td>{{ posts.city }}</td>
                <td>{{ posts.user }}</td>
                <td>
                    <a routerLink="/posts/view/{{posts.id}}" class="ui teal button">
                        <i class="eye icon"></i>
                        View
                    </a>
                    <a routerLink="/posts/update/{{posts.id}}" class="ui teal button">
                        <i class="edit icon"></i>
                        Edit
                    </a>
                    <a class="ui teal button" (click)="deleteRecord(posts.id)">
                        <i class="trash alternate icon"></i>
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot class="full-width">
            <tr>
                <th colspan="6">
                    <a class="ui right floated small primary labeled icon button" routerLink="/admin/about-us/create">
                        <i class="clipboard icon"></i>
                        Add Record
                    </a>
                </th>
            </tr>
        </tfoot>
    </table>

  </div>
</div>
