<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>

        <div class="one column row">
            <div>&nbsp;</div>
            <div class="sixteen center aligned wide column">
                <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
            </div>
        </div>

        <div class="" *ngIf="checkError()">
            <div>&nbsp;</div>
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>
        <div class="" *ngIf="codeResponse == 200 && statusResponse == 'OK' && flagSuccess">
            <div>&nbsp;</div>
            <sui-message class="positive" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ header }}
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <div class="ui stacked segment">
            <div>
                <label>
                    <span class="single_label">Are you want to <strong>Make a Bid</strong>? If yes, please make your bid now!</span>
                </label>
                <div class="ui labeled input space_labels_forms">
                    <div class="ui label">
                        $
                    </div>
                    <input type="text" placeholder="Make a Bid" [(ngModel)]="makebid" id="bids">
                </div>
                <div class="ui buttons space_buttons">
                    <button class="ui negative button" (click)="cancelBid()">Cancel</button>
                    <div class="or"></div>
                    <button class="ui positive button" (click)="makeABid()">Make a Bid</button>
                </div>
            </div>
        </div>

        <table class="ui stripped celled table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Username</th>
                    <th>Current Bid</th>
                    <th>Bid Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let bid of bids">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ bid.name }}</td>
                    <td>{{ bid.username }}</td>
                    <td>{{ bid.offer | currency }}</td>
                    <td>{{ (bid.status == "1") ? 'Current Bid' : 'Old Bid' }}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <a routerLink="/bids/my-bids/view-all-bids" class="ui positive button">
                <i class="reply icon"></i>
                Return to 'My Bids'
            </a>
            <a routerLink="/posts/view/{{paramId}}" class="ui blue button">
                <i class="eye icon"></i>
                Go to Project
            </a>
        </div>

    </div>
</div>