<div>
    
    <div class="ui sixteen wide column">
        <form [formGroup]="innercomment" (submit)="makeInnerComment()" class="ui large form">
        
            <div class="field required" [ngClass]="{ 'error' : submitedFlag && (f.comments.errors?.required ||
                                                                                f.comments.errors?.minlength?.requiredLength ||
                                                                                f.comments.errors?.maxlength?.requiredLength )}">
                <label for="comment">Comment</label>
                <textarea name="comments" id="comments" formControlName="comments" placeholder="Comment" rows="1"></textarea>
                <div class="errors">
                    <span *ngIf="submitedFlag && f.comments.errors?.required">
                        Please, type a comment.
                    </span>
                    <span *ngIf="submitedFlag && f.comments.errors?.minlength?.requiredLength">
                        Comment is too short.
                    </span>
                    <span *ngIf="submitedFlag && f.comments.errors?.maxlength?.requiredLength">
                        Comment is too long.
                    </span>
                </div>
            </div>

            <button class="ui large positive submit button" type="submit">
                <i class="paper plane icon"></i>
                Send
            </button>
            <button class="ui large negative button" (click)="cancelInner()" type="button">
                <i class="eraser icon"></i>
                Cancel
            </button>
        </form>
    </div>

</div>